html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  background: url(/bg-header.jpg) no-repeat center top, #001a34 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

